* {
    font-family: 'Raleway', sans-serif;
    color: wheat;
}
.error {
    color: red;
}

.login_field {
    height: fit-content;
    display: inline-block
    
    
}

.register_field {
    height: fit-content;
    vertical-align: top;
    display: inline-block
    


}

.container-fluid {
    background-color: rgb(3, 3, 3);
}

h1 {
    color: white;
    background-color: brown;
    margin: 0;
    text-align: center;
}
h2 {
    background-color: black;
}

.alert {
    margin-top: 5px;
}


.my-custom-scrollbar {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }


    #delete_prompt {
        margin: 20% 50% 10% 50%;
        background-color: palegoldenrod;
        border: 5px solid black;
    }
